* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
/*navbar*/
nav {
  display: flex;
  background-color: rgb(212, 139, 43);
  justify-content: space-around;
  /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
  /* atur padding dengan flex */
  height: 45px;
  align-items: center;
  color: rgb(78, 44, 0);
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
}
nav .logo {
  font-family: "Roboto";
  letter-spacing: 0cap; /*space antar char*/
}
nav .imgLogo{
    width: auto;
    height: auto;  
    max-width: 40px;
    max-height: 40px;
    display: block;
    margin-left:15px;
    margin-right: 15px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(78, 44, 0);
  font-size: 0.9rem;
}
nav ul li.selected{
  text-decoration: none;
  -webkit-text-fill-color: rgb(212, 139, 43);
  font-size: 0.9rem;
  background-color: rgb(78, 44, 0);
  border: 8px solid rgb(78, 44, 0);
}
nav ul li a:hover {
  color: teal;
}
  /* hamburger menu */
  .menu-toggle{
    display: none; 
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    position: relative;
 }
 .menu-toggle input{
     position: absolute;
     top:-5px;
     left:-3px;
     width:21px;
     height: 21px;
     opacity: 0;
     cursor: pointer;
     z-index: 2;
 }
 .menu-toggle span{
     display: block;
     width: 21px;
     height: 2px;
     background-color: rgb(78, 44, 0);
     border-radius: 3px;
     transition: all 0.7s;
 }

   /*x on hamburger menu*/
   .menu-toggle span:nth-child(2){
    transform-origin: left center;
  }
  
  .menu-toggle span:nth-child(4){
    transform-origin: left center;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) ;
  }
  
  .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) ;
  }
  /* invis span ke 2 / child ke 3 */
  .menu-toggle input:checked ~ span:nth-child(3){
    width: 0%;
    opacity: 0;
    transition: .1s
  }

  .image {
   
    width: 80%;
    height: auto;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
}
  .image2 {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
  }

.container {
    display:flex;
    flex-direction: column;
    color: rgb(78, 44, 0);
    padding: 8px;
    border-radius:5px;
    margin: auto;

}
main {
    display: flex;
    flex-direction: row;
}

.box {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    flex
}
/* supaya ada jarak antar box  */
  .flexone{
    flex-grow: 2;
  }

.flextwo{
    flex-grow: 1;
    }
footer {
    text-align: center;
}
h1 {
  text-align: center;
  color: rgb(78, 44, 0);
  text-justify: inter-word;
  word-wrap: break-word;
  font-size: 48px;
}
h2 {
  
    text-align: center;
    color: rgb(78, 44, 0);
    text-justify: inter-word;
    word-wrap: break-word;
    padding-bottom: 20px;
    font-size: 32px;


}
h3 {
    color: rgb(78, 44, 0);
    text-justify: inter-word;
    word-wrap: break-word;
    font-size: 16px;
}
h4 {
  color: rgb(78, 44, 0);
  text-justify: inter-word;
  word-wrap: break-word;
  text-align: right;
  font-size: 16px;
}
h5 {
  text-align: center;
  color: rgb(78, 44, 0);
  word-wrap: break-word;
 
}
b1 {
  text-align: justify;
    text-justify: inter-word;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
@media screen and (max-width: 768px) {
    nav ul{
      width: 50%;
    }
  }

  @media screen and (max-width: 576px) {
   .menu-toggle{
       display: flex;
   }
   main{
       flex-direction: column-reverse;
   }
    nav ul{
      position: absolute;
      right:0;
      top: 0;
      width: 50%;
      flex-direction: column;
      height: 100vh;
      justify-content:space-evenly;
      align-items: center;
      background-color: rgb(136, 45, 12);
      /* transform: translateX(100%);  */
      transition: all 0.72s;
      opacity: 0;
      z-index: 2;
    }
    nav ul.menushow{
        opacity: 0.5;
        /* transform: translateX(0); */
    }
  }

